* {
    box-sizing: border-box;
}
.background_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.white_block {
    --w: 800px;
    display: flex;
    width: var(--w);
    margin: 250px calc((100% - var(--w)) / 2) 0;
    background-color: rgb(255, 255, 255);
}
.x {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 750px;
    font-size: 35px;
    opacity: 0.5;
    margin-bottom: 0;
}
.left_block {
    width: 500px;
    float: left;
    margin: 50px;
}
.right_block {
    background-color: rgb(255, 255, 255);
}
.main_title {
    font-size: 120px;
    margin-bottom: 5px;
    margin-top: 50px;
    color: rgb(15, 112, 1);
}
.text {
    color: rgb(15, 112, 1);
    margin-top: 5px;
}
.description {
    opacity: 0.7;
    margin-right: 20px;
}
.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(15, 112, 1);
    text-decoration: none;
    padding: 10px;
    box-shadow: 1px 1px 3px rgb(29, 221, 0);
}